AIDY_CAPTURE_ENABLED=false
AIDY_METAAPI_TOKEN=
AIDY_METAAPI_ACCOUNT_ID=
AIDY_MARKET_POLL_SECONDS=60
AIDY_SLOW_POLL_SECONDS=300
AIDY_MARKET_CLOSED_BACKOFF_SECONDS=900
AIDY_MARKET_STALE_SECONDS=300
AIDY_FED_RSS_POLL_SECONDS=120
AIDY_ARCHIVE_FLUSH_LIMIT=100
